.header-container {
	display: flex;
	align-items: center;
	overflow: hidden;
	font-size: 1.2rem;
	background-color: black;
	padding: 0 4%;
	position: relative;
	transition: background-color .4s;
	z-index: 2;
}

.header-container a.logo{
	cursor: pointer;
	display: inline-block;
	color: red;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 1.8em;
	line-height: 25px;
	border-radius: 4px;
	background-color: transparent;
	margin-right: 5px;
	font-size: 25px;
	font-weight: bold;
}

.header-container .navigation-menu .menu-trigger{
	display: flex;
	align-items: center;
	font-weight: 500;
	height: 100%;
}

.header-container .navigation-menu .menu-trigger::after{
	content: "";
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	height: 0;
	width: 0;
	margin-left: 5px;
}

.header-container ul{
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}

.header-container ul li{
	display: block;	
	list-style-type: none;
	margin-left: 18px;
}

.header-container ul li a{
	display: flex;
	align-items: center;
	color: white;
	height: 100%;
	position: relative;
}


/* For navigation items */
.header-container li:hover{
	color: gray;
}

.header-container .secondary-navigation{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
	height: 100%;
	position: absolute;
	right: 4%;
	top: 0;
}

.header-container .secondary-navigation .nav-element {
	margin-right: 10px;
}

.header-container .secondary-navigation .nav-element .search-box{
	display: inline-block;
	vertical-align: middle;
}

.header-container .secondary-navigation .nav-element .search-box button{
	display: inline-block;
	border: none;
	cursor: pointer;
	overflow: visible;
	background: transparent;
	color: white;
	font:inherit;
	margin: 0;
}

.header-container .secondary-navigation .nav-element .search-box .search-icon{
	margin-right: 0;
	/* overflow: hidden; */
	/* line-height: 20px; */
	/* width: auto; */
	height: 2rem;
	width: 2rem;
}